<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div *ngFor="let detail of details">
        <p class="title">{{detail.movieName}}</p>
        <img class="img" src="{{detail.image}}" alt="{{detail.movieName}}"
        >
        <div>
          <p>Director: {{detail.director}}</p>
          <p>Stars: {{detail.stars}}</p>
          <p>{{detail.year}}</p>
          <p>{{detail.description}}</p>
          <p>---</p>
        </div>
      </div>
    </div>
  </div>
</div>


