<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div >
          <p class="title">{{details.movieName}}</p>
          <p class="year">{{details.year}}</p>
          <img class="img" src="{{details.image}}" alt="{{details.movieName}}"
          >
          <div>
            <p>Directed by: {{details.director}}</p>
            <p>Written by: {{details.writer}}</p>
            <p>Stars: {{details.stars}}</p>
            <p>Origin: {{details.country}}</p>
            <p>{{details.description}}</p>
            <button (click)="toRental()">Watch for {{details.price}}</button>
            <p>___________________</p>
          </div>
      </div>
    </div>
  </div>
</div>
