nav {
  margin: 0;
  padding: 0;
}

.container-fluid {
  background-color: black;
  height: 80px;
}

.navbar-brand {
  color: whitesmoke;
  font-size: 35px;
  padding-top: 30px;
  padding-right: 30px;
}

.active > a {
  height: 80px;
  background: #d2d2d2;
}

li {
  width: 100px;
  text-align: center;
  font-size: 14px;
  color: white;
}

img{
  padding: 0;
  height: 210px;
  width: 100%;
}
