h5 {
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}

h6 {
  margin-bottom: 50px;
  font-weight: bold;
}

.row {
  margin-top: 30px;
  text-align: center;
}

label {
  font-size: 13px;
  display: inline-block;
  text-align: center;
  width: 100px;
}

input{
  font-size: 13px;
  width: 300px;
}

button {
  margin-top: 25px;
  margin-bottom: 40px;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.alert {
  color: red;
  font-size: 12px;
}
