<div class="container">
  <div class=row>
    <div class="alert alert-danger" *ngIf="error">
      <p>{{error}}</p>
      <button (click)="closeError()">OK</button>
    </div>
    <h5>Enter your details to register as a user</h5>
    <form [formGroup]="userForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="at least 4 characters" formControlName="password" minlength="4">
      </div>
      <span class="alert" *ngIf="userForm.invalid && userForm.touched">
         Insert all details!
       </span>
      <div>
        <button type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>
