<div id="edit">
  <app-details-edit #detailsEdit></app-details-edit>
  <br>
</div>

<div class="container">
  <div *ngIf="!editMode">
    <h5>Find movie by name</h5>
    <div class="input-base">
      <label for="movieName">Title</label>
      <input type="text" id="movieName" name="movieName" [(ngModel)]="movieName">
    </div>
  </div>
  <div *ngIf="editMode">
    <p>{{details.movieName}}</p>
    <p>{{details.year}}</p>
    <p>{{details.director}}</p>
    <p>{{details.writer}}</p>
    <p>{{details.stars}}</p>
    <p>{{details.country}}</p>
    <p>{{details.description}}</p>
    <img class="img" src="{{details.image}}" alt="{{details.movieName}}"
    >
  </div>
  <button *ngIf="!editMode" (click)="getMovie()">Find Movie</button>
  <button *ngIf="editMode" (click)="detailsEdit.editDetails(details)">Edit</button>
</div>
